feature_engine==1.9.4
kaggle==2.2.4
matplotlib==3.11.1
mlflow==3.15.1
mlflow_skinny==3.15.1
mlflow_tracing==3.15.1
pandas==2.3.3
python-dotenv==1.2.2
scikit_learn==1.9.0
SQLAlchemy==2.0.51
tqdm==4.67.3